<nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://th.bing.com/th/id/R.80f53a3a45a40561b1daee8f2d8ac635?rik=B2H5OB1ka2XTIg&pid=ImgRaw&r=0" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="50" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

@code {

}
